.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 521px;
  overflow: hidden;
  &__background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    min-height: 521px;
  }
}
