.home {
  height: 100vh;
  width: 100vw;
  padding: 4rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 768px) {
    padding: clamp(2rem, 9vw, 4rem) clamp(0.5rem, 9vw, 4rem);
  }
  &__quotes {
    display: flex;
    align-items: flex-start;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
    h3 {
      width: 40rem;
      margin-top: 0;
      @media (max-width: 768px) {
        width: clamp(16rem, 84vw, 40rem);
      }
    }
    img {
      cursor: pointer;
      margin-left: 2rem;
    }
  }
  &__detail {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    transition: transform 0.8s ease;

    button {
      @include noborderoutline();
      width: 10rem;
      height: 2rem;
      cursor: pointer;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
    &__greeting {
      h1 {
        @media (max-width: 768px) {
          width: clamp(17rem, 76vw, 100%);
        }
      }
      &__time {
        font-size: 9rem;
        @media (max-width: 768px){
          font-size: clamp(5rem, 5vw, 9rem);
        }
      }
      &__abbreviation {
        font-size: 4rem;
        margin-left: 2rem;
      }
    }
    &__triggered {
      transform: translateY(-15rem);
      @media (max-height: 737px){
        transform: initial;
      }
    }
  }
}
