.home {
  @include hw(100vh, 100vw);
  padding: 4rem;
  position: absolute;
  @include flexContainer(column, initial, space-between);
  @media (max-width: 768px) {
    padding: clamp(2rem, 9vw, 4rem) clamp(0.5rem, 9vw, 4rem);
    min-width: 320px;
  }
  &__quotes {
    @include flexContainer(row, flex-start, initial);
    @media (max-width: 768px) {
      @include flexContainer(column, flex-start, initial);
    }
    &__words {
      h3 {
        width: 40rem;
        margin-top: 0;
        @media (max-width: 768px) {
          width: clamp(16rem, 84vw, 40rem);
        }
      }
    }

    img {
      cursor: pointer;
      margin-left: 2rem;
      @media (max-width: 768px){
        margin: initial;
      }
    }
  }
  &__detail {
    @include flexContainer(row, flex-end, space-between);
    transition: transform 0.8s ease;

    button {
      @extend .detail__button;
      @include hw(2rem, 10rem);
      cursor: pointer;
    }
    @media (max-width: 768px) {
      @include flexContainer(column, flex-start, space-between);
    }
    &__greeting {
      h1 {
        @media (max-width: 768px) {
          width: clamp(17rem, 76vw, 100%);
        }
      }
      &__time {
        font-size: 9rem;
        @media (max-width: 768px) {
          font-size: clamp(5rem, 5vw, 9rem);
        }
      }
      &__abbreviation {
        font-size: 2rem;
        margin-left: 0.5rem;
      }
    }
    &__triggered {
      transform: translateY(-15rem);
      @media (max-height: 737px) {
        transform: initial;
      }
    }
  }
}
