/**
  * Tumble
  *
  * @author jh3y
*/

.container {
  @include flexContainer(initial, center, center);
  @include hw(100vh, 100vw);
  @include minimalsize(521px, 320px);
  background-color: black;
}

.tumble {
  &:after,
  :before {
    border-radius: 100%;
    content: "";
    position: absolute;
  }
  &:after {
    -webkit-animation: tumble 1s infinite;
    animation: tumble 1s infinite;
    background-color: black;
    -webkit-box-shadow: 8px 6px 0 0 white, -8px 6px 0 0 var(--secondary);
    box-shadow: 8px 6px 0 0 white, -8px 6px 0 0 white;
    @include hw(16px, 16px);
  }
  &:before {
    border: 6px solid white;
    @include hw(50px, 50px);
  }
}

@-webkit-keyframes tumble {
  0% {
    -webkit-transform: rotate(180deg) translateY(-17px);
    transform: rotate(180deg) translateY(-17px);
  }
  100% {
    -webkit-transform: rotate(540deg) translateY(-17px);
    transform: rotate(540deg) translateY(-17px);
  }
}
@keyframes tumble {
  0% {
    -webkit-transform: rotate(180deg) translateY(-17px);
    transform: rotate(180deg) translateY(-17px);
  }
  100% {
    -webkit-transform: rotate(540deg) translateY(-17px);
    transform: rotate(540deg) translateY(-17px);
  }
}
