@import "@fontsource/inter";
@import "./mixin";
@import "./loading";
@import "./app";
@import "./home";
@import "./detail";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  @include paddingmargin(0, 0);
  @include minimalsize(521px, 320px);
  font-family: "Inter";
  color: white;
}
